#ignore everything
*

#but find files in subfolders
#!*/
!README.md
!.gitignore
!home/.gitignore_skel
!home/.gitconfig
!home/.gitattributes

#!.tmux.conf

!home/.bashrc
!home/.bash_alias

!*.zsh
!home/.zshrc
!home/.zsh/**
!home/.zsh/custom/**
!home/.zsh/funcs/**

!home/.vimrc

!*.nanorc
!home/.nanorc

!home/.weechat/*.conf
!home/.weechat/*.txt
!home/.weechat/cleanup-weechat
!home/.weechat/*/**



home/.weechat/sec.conf #passwords...
home/.zsh/.zsh_history
home/.zsh/funcs/testfunc
